{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Funcionario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Pnome</th>
                <td>{{ entity.pnome }}</td>
            </tr>
            <tr>
                <th>Mnicial</th>
                <td>{{ entity.mnicial }}</td>
            </tr>
            <tr>
                <th>Unome</th>
                <td>{{ entity.unome }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ entity.cpf }}</td>
            </tr>
            <tr>
                <th>Datanasc</th>
                <td>{{ entity.datanasc|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ entity.endereco }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Salario</th>
                <td>{{ entity.salario }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('funcionario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('funcionario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
